
.register, .bg, .check-page{
  background-image: url(./assets/bg.png);
}
.form{
  background-color: rgb(195, 195, 224);
}
.dp{
 border-radius: 100%;
}

.scrollbar::-webkit-scrollbar{
  width: 10px;
}
.scrollbar::-webkit-scrollbar-track{
  @apply bg-slate-100 
}
.scrollbar::-webkit-scrollbar-thumb{
  @apply bg-slate-200 rounded-full
}
